body {
    background-color: #780030;
}
#project3Container {
    background-color: #b56c7630;
    box-shadow: 10px 16px 21px -3px rgba(51,25,25,0.42);
    -webkit-box-shadow: 10px 16px 21px -3px rgba(51,25,25,0.42);
    -moz-box-shadow: 10px 16px 21px -3px rgba(51,25,25,0.42);
    width:800px;
    margin:0 auto;
    text-align: center;
}

h1 {
    color: #b19898;
    font-size: 50px;
}

h2 {
    color: #C7B9B9;
    font-size: 30px;
}

#taskStatus {
    color: #ffd200;
    font-size: 25px;
}

#inputError {
    color: #ff0000;
    font-size: 20px;
    padding-bottom: 10px;
}

#table {
    border-collapse: collapse;
    width: 100%;
    display: inline-table;
}

td {
    border: 1px solid #5a0f0f24;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 30px;
}

tr:nth-child(even) {
    background-color: #963f5f;
}

tr:nth-child(odd) {
    background-color: #8a3756;
}

#table button {
    border: none;
    background-color: #78003000;
}

#trashIcon {
    font-size: 35px;
    color: #fff
}



